{% load static i18n %}<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="de" xml:lang="de" class="hyphens">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>dystopia2080: {% block title %}{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
        content="Dystopia ist ein Pen & Paper und spielt zum Beginn des Jahres 2080 in der ukrainischen Stadt Dos, nördlich von Kiew.">
  <meta name="author" content="razzil">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="{% static 'js/html5shiv.min.js' %}"></script>
  <![endif]-->

  <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" type="image/x-icon">
  <link rel="shortcut icon" href="{% static 'images/favicons/favicon.ico' %}" type="image/x-icon">

  {% block css %}
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Your stuff: Third-party CSS libraries go here -->

    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% block extra_css %} {% endblock %}

  {% endblock %}

</head>

<body>

<div class="mb-1">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{% url 'home' %}">dystopia2080</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'story' %}">Story <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'timeline' %}">Zeitlinie </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'characters' %}">Charaktere </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'npc' %}">NPCs </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'rules' %}">Regelwerk </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'items' %}">Gegenstände </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'spells' %}">Zauber </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'prices' %}">Preisliste </a>
        </li>
      </ul>
    </div>
    <ul class="nav navbar-nav navbar-right">
      {% if request.user.is_authenticated %}
        <li class="nav-item"><a class="nav-link" href="{% url 'skills' %}" id="">Skill Sheet</a></li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'admin:index' %}" id="admin-page">{% trans "Admin Panel" %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
        </li>
        <li class="nav-item">
          <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
        </li>
      {% endif %}
    </ul>
  </nav>

</div>

<div class="container">

  {% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
      </div>
    {% endfor %}
  {% endif %}

  <div class="mt-3">
    {% block content %}
      <p>Use this document as a way to quick start any new project.</p>
    {% endblock content %}
  </div>
</div>

{% block modal %}{% endblock modal %}

<!-- Placed at the end of the document so the pages load faster -->
{% block javascript %}
  <!-- Bootstrap JS and its dependencies-->
  <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>

  <!-- Your stuff: Third-party javascript libraries go here -->

  <!-- place project specific Javascript in this file -->
  {% block extra_js %}  {% endblock extra_js %}

  <script src="{% static 'js/project.js' %}"></script>

{% endblock javascript %}
</body>
</html>
