{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Charakter {{ character.name }}{% endblock title %}

{% block content %}
  <div class="card">
    <h1 class="card-header">{{ character.name }}</h1>
    <div class="card-body">
      {% if character.icon %}
        <img style="height: auto; max-width: 100%;" src="{{ character.icon.url }}" alt="character image">
      {% endif %}
      <p class="card-text ">{{ character.content | safe }}</p>
    </div>
  </div>
{% endblock content %}
