{% extends "base.html" %}

{% block title %}Charaktere{% endblock title %}

{% block content %}
  <h1>Charaktere</h1>
  <div class="card-columns">
    {% for character in characters %}
      <a href="{% url 'character-detail' character.slug %}" class="card">
        <h2 class="card-header">{{ character.name }}</h2>
        <div class="card-body">
          {% if character.icon %}
            <img style="height: auto; width: 100%;" src="{{ character.icon.url }}" alt="character image">
          {% endif %}
          <p class="card-text">{{ character.summary_generated }}</p>
        </div>
      </a>
    {% endfor %}
  </div>
{% endblock content %}
