{% extends "base.html" %}

{% block title %}Preisliste{% endblock title %}

{% block content %}
  <div class="card">
    <h1 class="card-header">Preisliste</h1>
    <table id="price-table" class="table card-body" data-toggle="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Basiskosten</th>
        <th>Minimalwert</th>
      </tr>
      </thead>
      <tbody>
      {% for price in prices %}
        <tr>
          <td data-sort="{{ price.name }}">{{ price.name }}</td>
          <td class="text-right" data-sort="{{ price.base }}">{{ price.base }}</td>
          <td class="text-right" data-sort="{{ price.min }}">{{ price.min }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}
{% block extra_js %}
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $('#price-table').DataTable({
        initComplete: function () {
        }
      });
    });
  </script>
{% endblock %}
