{% extends "base.html" %}
{% block title %}Setting{% endblock title %}
{% block content %}
  <div class="card">
    <h1 class="card-header">Setting</h1>
    <div class="card-body">
      <p>
        Dystopia spielt zum Beginn des Jahres 2080 in der ukrainischen
        Stadt Dos, nördlich von Kiew.
      </p>
      <p>
        Dos ist eine Metropole für Kybernetik. Körpermodifikationen sind
        hier ganz gewöhnlich. Die Arbeitslosigkeit ist auf einer
        Rekordhöhe. Gangs machen die Straßen unsicher, Corporations
        kämpfen um die Vorherrschaft und der Staat ist so schwach wie nie.
      </p>
    </div>
    <footer class="text-muted card-footer">
      Disclaimer: Ähnlichkeiten mit lebenden oder toten Personen oder
      Organisationen sind rein zufällig.
      These events, people and organisations are fictional and any
      resemblance to person living or dead is purely coincidental.
    </footer>
  </div>

{% endblock %}
