{% extends "base.html" %}

{% block title %}Zeitlinie{% endblock title %}

{% block content %}
  <h1>Timeline</h1>
  {% for year in years %}
    <div class="card mb-4">
      <h2 class="card-header">{{ year.story_date.year }} </h2>
      <div class="card-body">
        <p class="card-text">{{ year.content | safe }}</p>
      </div>
    </div>
  {% endfor %}
{% endblock content %}
