{% extends "base.html" %}
{% block title %}Played Story{% endblock title %}

{% block content %}
  <h1>Played Story</h1>
  {% for story in stories %}
    <a class="card mb-4" href="{% url 'story-detail' story.slug %}">
      <h2 class="card-header">{{ story.title }}</h2>
      <div class="card-body">
        <p class="card-text text-muted h6">{{ story.story_date }} </p>
        <p class="card-text">{{ story.summary_generated }}</p>
      </div>
    </a>
  {% endfor %}
{% endblock content %}
