{% extends "rules/base.html" %}

{% block title %}{{ content.name }}{% endblock title %}

{% block rule_content %}
  <h2 class="card-title">{{ content.name }}</h2>
  <div class="card-body">
    <p class="card-text">{{ content.content | safe }}</p>
  </div>
{% endblock rule_content %}
