{% extends "base.html" %}

{% block title %}Skills{% endblock title %}

{% block content %}
  <h1>{{ character.name }}'s Skills</h1>
  <div class="card m-2 ">
    {% if character.unspent_cp %}
      <div class="text-muted">Unspent CP: {{ character.unspent_cp }}</div>
    {% endif %}
    {% if character.unspent_ip %}
      <div class="text-muted">Unspent IP: {{ character.unspent_ip }}</div>
    {% endif %}
  </div>
  <div class="container row">
    {% for character_stat, skills in stats %}
      <div class="col" style="max-width: {{ stat_width }}%; min-width: 120px">
        <div class="card mb-2">
          <h2 class="card-header card-title">{{ character_stat.stat.short }}</h2>

          <div class="card-body card-text align-right">{{ character_stat.value }}</div>
          {% if character_stat.unspent_ip %}
            <div class="text-muted card-footer">Unspent IP: {{ character_stat.unspent_ip }}</div>
          {% endif %}
        </div>
        {% for skill in skills %}
          <div class="card">
            <div class="card-header card-title">{{ skill.name }}</div>
            <div class="row card-body card-text">
              <div class="text-muted col-md">{{ skill.value }}</div>
              <div class="col-md">{{ skill.total }}</div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endblock content %}
