{% extends "base.html" %}

{% block title %}NPCs{% endblock title %}

{% block content %}
  <h1>NPCs</h1>
  <div class="card-columns">
    {% for npc in npcs %}
      <a href="{% url 'npc-detail' npc.slug %}" class="card">
        <h2 class="card-header">{{ npc.name }}</h2>
        <div class="card-body">
          {% if npc.icon %}
            <img style="height: auto; width: 100%;" src="{{ npc.icon.url }}" alt="npc image">
          {% endif %}
          <p class="card-text">{{ npc.summary_generated }}</p>
        </div>
      </a>
    {% endfor %}
  </div>
{% endblock content %}
